.App {
  text-align: center;
  
}
body{background-color: rgb(230, 238, 235);}
.blue {
  color: blue;
}
tbody{ 
  color: rgb(71, 92, 86);
  font-size: 25px;
}
thead{
  color: rgb(71, 139, 114);
  font-size: 25px;
}


